# LinkedIn Profile Analysis
Goal: This project aim to analysis positions description shows on LinkedIn(eg data analyst, data engineer) and incorporate what we found on personal resume

1. Scraped data from LinkedIn using web scraping (Beautiful Soup & Selenium)
2. Pre-process data
3. Exploratory Data Analysis:
    - See what verb do people used the most in creating their Resume (First word in every sentence)
    - Bigram / Trigram to see what skills or most common words are used in those position
    - Verb that used with data related jobs

# 1-1 Scrape username from LinkedIn

In [5]:
#from tqdm.notebook import tqdm
from tqdm import tqdm #check for the scarping progress
from selenium import webdriver
import time
from bs4 import BeautifulSoup
from scrape_linkedin import ProfileScraper
from selenium.webdriver.common.by import By
import pickle

In [6]:
def get_name():
    # get username
    name_list = []
    soup = BeautifulSoup(driver.page_source,'html.parser')
#     company = soup.find(class_="search-results__list list-style-none ")
    
    for a in soup.find(class_="search-results__list list-style-none").find_all('a', href=True):
        name = a['href'].split('/')[-2]
        if a['href'].split('/')[1] == 'in' and name not in name_list:
            name_list.append(name)
    batch(name_list)

In [113]:
# save while scraping
import pickle
def batch(name):
    with open('name_de_v2.pkl', 'ab') as fp:
        pickle.dump(name, fp)

In [420]:

driver = webdriver.Chrome()
url = "https://www.linkedin.com/search/results/people/?keywords=Software%20Engineer&origin=SWITCH_SEARCH_VERTICAL&page=53"
driver.get(url)

# login linkedin
driver.find_element_by_css_selector('body > div > main > p > a').click()
time.sleep(0.5)
driver.find_element_by_css_selector('input#username').send_keys('yt9mh@virginia.edu') # your email
driver.find_element_by_css_selector('input#password').send_keys('lovily85') # your password for linkedin
driver.find_element_by_css_selector('#app__container > main > div:nth-child(2) > form > div.login__form_action_container > button').click()

for i in tqdm(range(100)): # how many pages do we want to scrape

    time.sleep(5)
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);") # scroll down and wait website to load
    time.sleep(12)

    get_name()  # get name by using Beautiful soup
    time.sleep(5)

    # click on next bottom to go to next page
    xpath = '//button[contains(@aria-label,"Next")]'
    driver.find_element(By.XPATH, xpath).click()

  0%|          | 0/100 [00:00<?, ?it/s]


























  1%|          | 1/100 [00:27<44:59, 27.27s/it]


























  2%|▏         | 2/100 [00:49<42:10, 25.82s/it]


























  3%|▎         | 3/100 [01:17<42:28, 26.27s/it]


























  4%|▍         | 4/100 [01:44<42:33, 26.60s/it]


























  5%|▌         | 5/100 [02:12<42:36, 26.91s/it]


























  6%|▌         | 6/100 [02:39<42:19, 27.01s/it]


























  7%|▋         | 7/100 [03:06<42:03, 27.13s/it]


























  8%|▊         | 8/100 [03:33<41:38, 27.15s/it]


























  9%|▉         | 9/100 [04:01<41:14, 27.19s/it]


























 10%|█         | 10/100 [04:28<40:50, 27.23s/it]


























 11%|█         | 11/100 [04:55<40:30, 27.31s/it]

IndexError: list index out of range

### Get name id from pickle file

In [115]:
#not need for now
# open name.pkl file
name = []
with open('name_de_v2.pkl', 'rb') as fr:
    try:
        while True:
            name.append(pickle.load(fr)) 
            #pickle.load(fr): pickle.load(file)
            #read the object from the file and return the reconstituted object hierarchy specified therein
    except EOFError:
        pass

from itertools import chain
name_de_v2 = list(chain.from_iterable(name)) #chain thins in different arrays together

In [116]:
len(name_de_v2)

1074

In [114]:
name_de_tot = list(set(name_de_v2 + name_de))
batch(name_de_tot)

In [123]:
import pandas as pd
de = pd.DataFrame(name_de_tot, columns = ['de_name'])
de.to_csv('name_de.csv', index = False)

In [131]:
de = pd.read_csv('name_de.csv')
name_de = list(de['de_name'])

### Use write csv to save by rows
'hyunjae-yu' last scrape in data analyst

In [ ]:
import csv
# LI_AT = 'AQEDASqt89oFOYnbAAABcB2vVKkAAAFxeby1ZU0APL5S3jkundKs8NMku9JqGfod9KTZSvenbZTjqIv5LLffYlAmjiNpGiHad6WIlwDbX2-TfVS56hWIcBUB4wW0CZ2y7uIM_BBcikJXup38mpvfiUwA'
# elle's
LI_AT = 'AQEDASninKgFCQENAAABcWJ8RbkAAAFxhojJuU0ARn_JC06BmSzB8515Xro1AqXinajR4vaRFt5_RFnE1Yc9_6F1VWCAS9BjkPnfqHkirT9j3Mjdb_U0JpJ8EDgfItrqRsndIjAMxyTc0LqheG64WKPJ'

# users = ['yuchen-miranda-zhao', 'jamie-yu-3348434b', 'rongxinz', 'ziyi-li-333a21168'] 

with open('experience.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    for name in name_list:
        with ProfileScraper(cookie = LI_AT) as scraper:
            profile = scraper.scrape(user = name)
        for job in profile.experiences['jobs']:
            writer.writerow([name, job['title'], job['company'], job['date_range'], job['location'], job['description']])
            #print(name, job['title'], job['company'], job['date range'], job['location'], job['description'])

### Use following to save simultaneously in two files

In [422]:
import pickle
def info_batch(info):
    with open('info_de.pkl', 'ab') as fp: 
        pickle.dump(info, fp) 
    
def exp_batch(exp):
    with open('exp_de.pkl', 'ab') as fp:
        pickle.dump(exp, fp)

In [431]:
# check index 
name_de.index('subbu-ch-69959943')

1059

In [413]:
len(name_de)

1074

In [435]:
LI_AT = 'AQEDASninKgFGvIZAAABcYQBtfIAAAFxqA458k0ALUoBWM45vLNH8UAZq4A3swR4QAN8gP9j892uDm8wAj1Mvk1z9qGKVedYIEMQ3E--iRBbAqtncGPB6OBGXn5La1px694PRJ246s_2OzHCYckJ0iRD'

for name in name_de[1060:]:
    with ProfileScraper(cookie = LI_AT) as scraper:
        profile = scraper.scrape(user = name)
        
    # save to info file        
    summary = profile.personal_info['summary']
    skill = [profile.skills[i]['name'] for i in range(len(profile.skills))]
    certi = profile.accomplishments['certifications']
    course = profile.accomplishments['courses']

    info_batch(tuple([name, summary, skill, course, certi]))
    
    # save to exp file
    for job in profile.experiences['jobs']:
        exp_batch(tuple([name, job['title'], job['company'], job['date_range'], job['location'], job['description']]))
    print(name)
    time.sleep(10)

gayathri-balakumar-6b474978
moussa-taifi
sree-lakshmi-addepalli
yaoquan-eric-ye-059a47142
jainsaner
akshatism
cong-qian-067606149
matthew-kravetz-2b27206b
paulschnau
suhas-ramakrishna-aithal-a9909b29
jeffhchuang
kal-lemma
ravsukhram
hemanthbm

## Data Scientist

In [ ]:
import pickle
def info_batch(info):
    with open('info_de.pkl', 'ab') as fp: 
        pickle.dump(info, fp) 
    
def exp_batch(exp):
    with open('exp_de.pkl', 'ab') as fp:
        pickle.dump(exp, fp)

In [ ]:
LI_AT = 'AQEDASninKgFCQENAAABcWJ8RbkAAAFxhojJuU0ARn_JC06BmSzB8515Xro1AqXinajR4vaRFt5_RFnE1Yc9_6F1VWCAS9BjkPnfqHkirT9j3Mjdb_U0JpJ8EDgfItrqRsndIjAMxyTc0LqheG64WKPJ'


for name in name_ds:
    with ProfileScraper(cookie = LI_AT) as scraper:
        profile = scraper.scrape(user = name)
        
    # save to info file        
    summary = profile.personal_info['summary']
    skill = [profile.skills[i]['name'] for i in range(len(profile.skills))]
    certi = profile.accomplishments['certifications']
    course = profile.accomplishments['courses']

    info_batch(tuple([name, summary, skill, course, certi]))
    
    # save to exp file
    for job in profile.experiences['jobs']:
        exp_batch(tuple([name, job['title'], job['company'], job['date_range'], job['location'], job['description']]))
    print(name)

# Convert pickle to csv
## Information

In [410]:
# call info pickle file
colnames = ['name', 'summary', 'skill', 'course', 'certi']

import pickle
import pandas as pd
info = []
with open('info_de.pkl', 'rb') as fr:
    try:
        while True:
            info.append(pickle.load(fr))
    except EOFError:
        pass

info_df = pd.DataFrame(info, columns=colnames)
info_df
# info_df.to_csv('info.csv', index = False)

,name,summary,skill,course,certi
0,ming-li-m-s-aws-csa-aws-adev-69b5a342,,"[SQL, C, Python, C#, Linux, JavaScript, Scala,...","[AWS System Implementation, C/C++ Language Pro...",[]
1,frederick-kirwin,"QUERY/PROGRAMMING LANGUAGES: SQL, T-SQL, Pytho...","[Data Analysis, Business Intelligence, Databas...",[],[]
2,jonathan-kaczynski-011a623,I am a generalist developer focused on buildin...,"[Ruby, Python, Ruby on Rails, Java, Git, Linux...",[],[]
3,toddeanderson,Recent experience as Data Engineer/Analyst usi...,"[Software Development, Databases, Perl]",[],[]
4,david-choy-8659a614,"Google Cloud: Storage, Dataproc and Big QueryB...","[Databases, Microsoft SQL Server, Data Warehou...",[],[]
...,...,...,...,...,...
533,sruthirajagopal,Data engineer with 7 years of experience in da...,"[SQL, Java, Data Warehousing, Microsoft SQL Se...","[Data Analysis, Data Modelling, Data Visualiza...",[]
534,paromitas,Senior Data Engineer with over 13 years of exp...,"[Microsoft SQL Server, SQL, Databases, T-SQL, ...",[GNIIT],[]
535,blane07,,"[Leadership, Data Science, Engineering, Python...",[],[]
536,weytu,"A dreamer, hustler, blogger, coder, lifetime l...","[Deep Learning, Machine Learning, Python, Team...",[],[]
537,xia-wang-b68b957a,I'm a data engineer at rocketmiles.com. I orch...,"[Python, Spanish, SQL, Linguistics, Research, ...","[Applied Data Science, Big Data Management and...",[]

## Experience

In [3]:
# call exp pickle file
colnames = ['name', 'title', 'company', 'date_range', 'location', 'description']

import pickle
import pandas as pd
exp = []
with open('exp_de.pkl', 'rb') as fr:
    try:
        while True:
            exp.append(pickle.load(fr))
    except EOFError:
        pass

exp_df = pd.DataFrame(exp, columns=colnames)
exp_df

,name,title,company,date_range,location,description
0,ming-li-m-s-aws-csa-aws-adev-69b5a342,Data Engineer,Meredith Corporation,Sep 2018 – Present,"Des Moines, Iowa Area",Work with Meredith core profile team processin...
1,ming-li-m-s-aws-csa-aws-adev-69b5a342,System Engineer,The Karcher group,May 2015 – Aug 2018,Chantilly,None
2,ming-li-m-s-aws-csa-aws-adev-69b5a342,Software Developer,ABC Imaging,May 2014 – Mar 2015,Washington D.C. Metro Area,None
3,ming-li-m-s-aws-csa-aws-adev-69b5a342,Application Developer,University of Maryland College Park,Nov 2011 – Oct 2013,"College Park, MD",None
4,ming-li-m-s-aws-csa-aws-adev-69b5a342,Network Engineer,IBM,Jun 2010 – Aug 2011,"Dalian, Liaoning, China",None
...,...,...,...,...,...,...
7003,hemanthbm,Data Engineer,Walmart Labs,Jan 2019 – Present,None,Building/Optimizing the warehousing and report...
7004,hemanthbm,Data Engineer,VideoAmp,Jun 2018 – Jan 2019,"Santa Monica, California",Bringing simplicity to complex Ad-tech data on...
7005,hemanthbm,Student Tech Admin,California State University-Long Beach,Oct 2016 – Jun 2018,Greater Los Angeles Area,"i. Sys-Ops, responsible for server configurati..."
7006,hemanthbm,Data Engineer,CrowdANALYTIX,Dec 2015 – Aug 2016,Bangalore,i. Text Mining / Automated Product Cataloging ...
7007,hemanthbm,Software Engineer,Just Dial Limited,Jul 2014 – Dec 2015,"Mumbai Area, India",DevOps / Web-crawling / ETL:i. Developed over ...

In [4]:
exp_df.dropna(subset = ['description'], inplace = True)
exp_df.drop_duplicates(inplace = True)
exp_df.reset_index(drop = True, inplace = True)

In [6]:
exp_df.to_csv('exp_de.csv', index = False)

In [ ]:
exp_df.drop_dupplicates(inplace = True)

In [5]:
exp_df.shape

(4758, 6)

In [7]:
import pandas as pd
pd.read_csv('exp_de.csv')

,name,title,company,date_range,location,description
0,ming-li-m-s-aws-csa-aws-adev-69b5a342,Data Engineer,Meredith Corporation,Sep 2018 – Present,"Des Moines, Iowa Area",Work with Meredith core profile team processin...
1,frederick-kirwin,Lead Data Engineer,"Aetna, a CVS Health Company\n Full-time",Feb 2019 – Present,"Hartford, Connecticut Area",Build real time and batch big data application...
2,frederick-kirwin,Senior Software Engineer,3M,Jun 2016 – Feb 2019,"Wallingford, CT","•\tWork with Analysts, Architects, Modelers an..."
3,frederick-kirwin,Data Management,Mediassociates,Sep 2015 – May 2016,NaN,•\tArchitect and design custom databases to en...
4,frederick-kirwin,Data Warehouse Analyst,Centrix Inc.,Apr 2015 – Aug 2015,"Shelton, CT","•\tWork with SSRS, SSAS, SSIS and T-SQL querie..."
...,...,...,...,...,...,...
4753,hemanthbm,Data Engineer,Walmart Labs,Jan 2019 – Present,NaN,Building/Optimizing the warehousing and report...
4754,hemanthbm,Data Engineer,VideoAmp,Jun 2018 – Jan 2019,"Santa Monica, California",Bringing simplicity to complex Ad-tech data on...
4755,hemanthbm,Student Tech Admin,California State University-Long Beach,Oct 2016 – Jun 2018,Greater Los Angeles Area,"i. Sys-Ops, responsible for server configurati..."
4756,hemanthbm,Data Engineer,CrowdANALYTIX,Dec 2015 – Aug 2016,Bangalore,i. Text Mining / Automated Product Cataloging ...
4757,hemanthbm,Software Engineer,Just Dial Limited,Jul 2014 – Dec 2015,"Mumbai Area, India",DevOps / Web-crawling / ETL:i. Developed over ...

In [356]:
exp_df.shape

(561, 6)

In [403]:
s

'\nTeach Android Application Development to graduate and undergraduates, patiently help them in understanding and debugging their applications.Teaching Assistant for C++ Programming Language.\nAssist Students in the Programming \nEnsure that students understand and implement the logic behind programming.\nAssisted instructor in developing exam metrics and student performance metrics.\nEvaluate assignments, quizzes, and exams.\n'

In [402]:
import re
# s = re.sub('([\-\*\•\○]\s)|(\n\n\s+\n…\n\n\s+see more$)', "\n", s)
s = re.sub('[-*○•●]\s|•\t|●\t|\uf0b7|•|\x95|\n\n    \n…\n\n        see more$', '\n', s)

In [399]:
import random
r = random.randint(0, 561)
s = exp_df['description'][r]
s

'•Teach Android Application Development to graduate and undergraduates, patiently help them in understanding and debugging their applications.Teaching Assistant for C++ Programming Language.•\tAssist Students in the Programming •\tEnsure that students understand and implement the logic behind programming.•\tAssisted instructor in developing exam metrics and student performance metrics.•\tEvaluate assignments, quizzes, and exams.\n\n    \n…\n\n        see more'